*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgb(95, 103, 101);
    color: #ffffff;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav li a{
    text-decoration: none;
    color: #ffffff;
     margin: 50px;
     font-size: 20px;
     font-weight: 600;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
nav h1{
    font-size: 30px;
}
.hom img{
    width: 100%;
    height: 900px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.intro h1{
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 50px; 
}
.intro p{
  font-size: 25px;
  margin: 40px;
  font-family: cursive;
 color: rgb(62, 62, 65);
}
.imgg img{
    width: 900px;
    height: 600px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.itms{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border: 3px solid black;
    box-shadow: 8px 6px 8px #514f4f;
}
.imgs img {
    width: 390px;
    height: 300px;
}
.dd{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dd h4{
    font-size: 30px;
    padding: 20px;
    
}
.dd p{
    font-size: 20px;
    font-weight: 600;
}
.itms:hover{
    background-color: rgb(70, 72, 74);
    color: #ffffff;
}
.imggs img{
    width: 350px;
    height: 400px;
    margin: 10px;
}
nav li:hover{
    border-bottom: 5px solid #fff;
    border-radius: 20px;
}

